{
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "tailwindConfig": "./tailwind.config.js"
  }
  